.product_link {
    text-decoration: none;
    color: inherit;
}
.product_link:hover {
    text-decoration: underline;

}
script {
    display: none;
}
.email_input {
    width: 310px;
    border: 1px solid #000;
    padding: 6px 10px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 15px;
    font-weight: 100;
    margin-top: 14px;
    background: #fff;
}
.button_rss {
    width: 137px;
    border: none;
    background: #292929;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    height: 31px;
    margin-top: 14px;
}
.contact_link {
    color: white;
    text-decoration: none;
}
.big_letter {
    text-transform: uppercase;
}
.adv_text {
    display: none;
    color: white;
}
.active {
    display: block;
}
.unactive {
    display: none;
}