@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  box-sizing: border-box;
  transition: all ease .5s; }

body {
  font-family: 'Open Sans', sans-serif; }

body, h1, h2, h3, p, img, div, a, ul {
  margin: 0;
  padding: 0;
  outline: none; }

input {
  outline: none; }
  input[type="submit"] {
    cursor: pointer; }

.slider_items .slick-slide {
  height: 670px !important; }

#popup {
  display: none; }

.fancybox-content {
  border: 2px solid #9F9F9F;
  width: 430px;
  height: 380px;
  padding: 0 !important;
  box-sizing: border-box !important;
  text-align: center !important; }
  .fancybox-content input {
    display: block;
    margin: auto; }
    .fancybox-content input[type="mail"], .fancybox-content input[type="text"] {
      width: 230px;
      height: 35px;
      padding-left: 12px;
      font-size: 14px;
      border: 2px solid #000; }
    .fancybox-content input[type="text"] {
      margin-top: -2px; }
    .fancybox-content input[type="submit"] {
      margin-top: 22px;
      padding-left: 0;
      width: 155px;
      border: none;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      background: #292929;
      height: 40px;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 50px; }
    .fancybox-content input[type="checkbox"], .fancybox-content input[type="checkbox"] + label {
      display: inline-block;
      vertical-align: middle; }
    .fancybox-content input[type="checkbox"] {
      margin-left: -88px;
      cursor: pointer; }
      .fancybox-content input[type="checkbox"]:after {
        content: '';
        width: 17px;
        height: 17px;
        display: block;
        border: 2px solid rgba(0, 0, 0, 0.8);
        background: #fff;
        margin-top: -4px; }
    .fancybox-content input + label {
      cursor: pointer;
      margin-top: 2px;
      font-size: 9px;
      display: inline-block;
      text-align: left;
      margin-left: 15px; }
    .fancybox-content input[type="checkbox"]:checked:after {
      background: url(assets/check.png) #fff;
      background-size: cover; }
  .fancybox-content p {
    font-size: 18px;
    margin: 74px 0 10px; }
  .fancybox-content form {
    margin-top: 23px; }

.fancybox-close-small {
  padding: 4px !important;
  right: 9px !important;
  top: 6px !important; }

.pp {
  position: absolute;
  z-index: -1; }
  .pp img {
    max-width: 100%;
    opacity: 0; }

main {
  width: 1280px;
  margin: auto; }

.fix {
  width: 1135px;
  margin: auto; }
  .fix-shop {
    width: 1175px;
    margin: auto; }
  .fix-item {
    width: 1000px;
    margin: auto; }

section h2 {
  font-weight: 400; }

section * {
  display: inline-block;
  vertical-align: middle; }

section.item_main {
  margin-top: 42px;
  padding-left: 49px; }
  section.item_main .bread {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 50px;
    font-family: 'roboto';
    display: block; }
    section.item_main .bread span {
      margin: 0 3px; }
    section.item_main .bread a {
      color: #676767;
      text-decoration: none; }
      section.item_main .bread a:hover {
        text-decoration: underline; }
  section.item_main .slider_items, section.item_main .item_info {
    display: inline-block;
    vertical-align: top; }
  section.item_main .slider_items {
    width: 307px;
    margin-right: 243px; }
  section.item_main .item_slider {
    width: 307px !important; }
    section.item_main .item_slider img {
      height: 470px;
      margin: auto; }
  section.item_main .item_slide {
    width: 320px !important;
    margin-left: 10px;
    margin-top: -183px; }
    section.item_main .item_slide .img {
      width: 100px !important;
      float: none !important;
      display: inline-block !important;
      vertical-align: top !important; }
    section.item_main .item_slide img {
      height: 125px; }
  section.item_main .item_info {
    position: relative;
    width: 395px; }
    section.item_main .item_info p {
      font-family: 'roboto', sans-serif;
      font-size: 26px;
      line-height: 1.3;
      letter-spacing: -.5px; }
    section.item_main .item_info .menu_l {
      position: absolute;
      margin-top: -185px; }
      section.item_main .item_info .menu_l li {
        width: 395px; }
        section.item_main .item_info .menu_l li a {
          font-family: 'roboto', sans-serif;
          font-weight: 400;
          font-size: 18px; }
        section.item_main .item_info .menu_l li ul {
          margin-top: 10px;
          margin-bottom: -7px; }
          section.item_main .item_info .menu_l li ul li {
            font-size: 11px;
            width: 370px;
            margin-bottom: 0;
            color: #4B4B4B; }
    section.item_main .item_info .cost {
      margin-top: 360px;
      padding: 20px 0 20px 20px;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      width: 93%;
      margin-left: -4px; }
      section.item_main .item_info .cost * {
        display: inline-block; }
      section.item_main .item_info .cost .price span {
        font-size: 30px;
        font-family: 'roboto';
        font-weight: bold;
        color: #4B4B4B;
        letter-spacing: -.5px; }
      section.item_main .item_info .cost .stars {
        margin-top: -7px;
        margin-left: 71px;
        text-align: center; }
        section.item_main .item_info .cost .stars > * {
          display: block; }
        section.item_main .item_info .cost .stars ul {
          padding: 0;
          margin-bottom: 5px; }
          section.item_main .item_info .cost .stars ul li {
            display: inline-block;
            background: url(../img/star.png);
            background-size: cover;
            width: 25px;
            height: 25px;
            cursor: pointer; }
            section.item_main .item_info .cost .stars ul li:hover, section.item_main .item_info .cost .stars ul li.active  {
              background: url(../img/full-star.png);
              background-size: cover; }
        section.item_main .item_info .cost .stars span {
          color: #000; }
          section.item_main .item_info .cost .stars span a {
            text-decoration: none;
            color: #000; }
            section.item_main .item_info .cost .stars span a:hover {
              text-decoration: underline; }
      section.item_main .item_info .cost span {
        font-size: 10px; }
    section.item_main .item_info .btn {
      text-decoration: none;
      text-align: center;
      width: 93%;
      color: #000;
      font-family: 'roboto', sans-serif;
      font-weight: 500;
      font-size: 14px;
      display: block;
      margin-top: 26px;
      border: 2px solid #4B4B4B;
      padding: 12px 0; }
      section.item_main .item_info .btn:hover {
        opacity: .6; }

section.line {
  background: #181818;
  color: #fff;
  padding: 6px 116px;
  z-index: 3;
  position: relative; }
  section.line div:last-child {
    float: right;
    margin-top: -.3%; }
    section.line div:last-child ul li {
      position: relative; }
      section.line div:last-child ul li:hover {
        opacity: .6; }
      section.line div:last-child ul li img {
        height: 20px; }
      section.line div:last-child ul li:nth-child(4):after {
        content: attr(data);
        position: absolute;
        left: 0;
        right: 0;
        top: 4px;
        margin: auto;
        text-align: center;
        font-size: 10px;
        background: #fff;
        color: #000;
        margin-top: 2px;
        width: 11px;
        height: 12px;
        padding-left: 1px;
        z-index: -1; }
      section.line div:last-child ul li:not(:first-child) {
        margin-left: 28px; }
    section.line div:last-child ul .tri {
      position: absolute;
      width: 20px;
      height: 10px;
      background: url(assets/tri.png);
      background-size: cover;
      top: 36px;
      right: 115px;
      z-index: 3;
      z-index: 1; }
    section.line div:last-child ul .close {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 65px;
      right: 18px;
      background: url(assets/close.png);
      background-size: cover;
      z-index: 1;
      cursor: pointer; }
    section.line div:last-child ul .basket_area {
      position: absolute;
      top: 48px;
      right: 0;
      width: 385px;
      background: #fff;
      border: 1px solid #707070;
      color: #000;
      padding: 17px 17px 0; }
      section.line div:last-child ul .basket_area .basket_scroll {
        max-height: 315px;
        overflow: scroll; }
      section.line div:last-child ul .basket_area .title {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 25px; }
      section.line div:last-child ul .basket_area .basket_line {
        margin-left: -8px;
        margin-bottom: 8px; }
        section.line div:last-child ul .basket_area .basket_line:last-child {
          float: none; }
        section.line div:last-child ul .basket_area .basket_line * {
          display: inline-block;
          vertical-align: middle; }
        section.line div:last-child ul .basket_area .basket_line .img {
          width: 100px;
          margin: auto;
          text-align: center;
          margin-right: 4px; }
          section.line div:last-child ul .basket_area .basket_line .img img {
            max-width: 100%; }
        section.line div:last-child ul .basket_area .basket_line span {
          font-size: 10px;
          font-weight: bold; }
          section.line div:last-child ul .basket_area .basket_line span.name {
            width: 160px;
            font-size: 9px; }
          section.line div:last-child ul .basket_area .basket_line span.price {
            width: 65px;
            font-weight: bold;
            font-size: 12px;
            text-align: right; }
      section.line div:last-child ul .basket_area .total *, section.line div:last-child ul .basket_area .dop * {
        display: inline-block;
        vertical-align: bottom; }
      section.line div:last-child ul .basket_area .total span span, section.line div:last-child ul .basket_area .dop span span {
        font-weight: bold; }
      section.line div:last-child ul .basket_area .total {
        margin-top: 9px; }
        section.line div:last-child ul .basket_area .total span {
          font-size: 13px; }
        section.line div:last-child ul .basket_area .total .btn {
          font-size: 10px;
          margin-top: -6px;
          margin-left: 81px;
          padding: 7px 20px;
          background: #292929;
          color: #fff;
          font-weight: bold;
          cursor: pointer; }
      section.line div:last-child ul .basket_area .dop {
        font-size: 12px;
        background: #292929;
        margin-top: 10px;
        margin-right: -18px;
        width: 110%;
        padding: 15px 10px;
        text-align: center; }
        section.line div:last-child ul .basket_area .dop span {
          color: #fff; }
  section.line p {
    font-size: 15px; }

section.logo {
  text-align: center;
  margin-top: 25px; }
  section.logo img {
    width: 120px; }

section.nav {
  text-align: center;
  margin-top: 28px;
  border-top: 2px solid #CBCBCB;
  border-bottom: 2px solid #CBCBCB; }
  section.nav a {
    text-decoration: none;
    color: #000;
    letter-spacing: .4px; }
  section.nav li {
    margin: -.35% 15px 0;
    padding: 14px 0;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    cursor: pointer; }
    section.nav li:hover {
      opacity: .6; }
      section.nav li:hover:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #000; }
    section.nav li.active:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #000; }

section.banners {
  margin-top: 32px; }
  section.banners .col {
    display: inline-block;
    width: 48.9%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif; }
    section.banners .col:not(:last-child) {
      margin-left: 9px;
      margin-right: 6px; }
    section.banners .col * {
      display: block; }
    section.banners .col img {
      max-width: 100%;
      margin-bottom: 25px; }
    section.banners .col h2 {
      font-size: 24px; }
    section.banners .col .btn {
      font-weight: bold;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      display: block;
      color: #000;
      border: 2px solid #4B4B4B;
      width: 170px;
      padding: 12px 0;
      margin: 18px auto; }
      section.banners .col .btn:hover {
        opacity: .6; }

section.banner {
  margin-top: 37px; }
  section.banner img {
    max-width: 100%; }

section.why {
  margin-top: 90px;
  position: relative; }
  section.why:after {
    content: '';
    border: 1px solid #CBCBCB;
    width: 100%;
    display: block;
    position: absolute;
    top: 20px;
    bottom: -55px;
    z-index: -1; }
  section.why h2 {
    display: block;
    text-align: center;
    font-size: 32px;
    letter-spacing: -.5px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 2; }
    section.why h2:after {
      content: '';
      width: 230px;
      height: 35px;
      display: block;
      position: absolute;
      background: #fff;
      top: 2.5px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: -1; }
  section.why ul {
    padding: 0 15px; }
    section.why ul li {
      margin: 35px 40px 0; }
      section.why ul li * {
        display: block;
        text-align: center; }
      section.why ul li img {
        height: 65px;
        margin: 0 auto 5px; }

section.video {
  margin-top: 161px; }
  section.video img {
    max-width: 100%; }

section.item {
  margin-top: -450px !important; }

section.hot.item h2 {
  width: 550px; }
  section.hot.item h2:after {
    content: '';
    width: 550px;
    height: 35px;
    display: block;
    position: absolute;
    background: #fff;
    top: 2.5px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1; }

section.hot {
  margin-top: 120px;
  text-align: center;
  position: relative; }
  section.hot h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    letter-spacing: -.5px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px; }
    section.hot h2:after {
      content: '';
      width: 290px;
      height: 35px;
      display: block;
      position: absolute;
      background: #fff;
      top: 2.5px;
      left: -30px;
      right: 0;
      margin: auto;
      z-index: -1; }
  section.hot:before {
    content: '';
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    background: #CBCBCB; }
  section.hot .slider {
    width: 1050px;
    margin: auto; }
  section.hot .el {
    float: none !important;
    height: auto !important;
    display: inline-block !important;
    vertical-align: bottom !important;
    text-align: center; }
    section.hot .el * {
      display: block; }
    section.hot .el img {
      margin: auto; }
    section.hot .el .name {
      font-size: 13.5px;
      font-weight: 600;
      position: relative;
      margin-bottom: 10px; }
      section.hot .el .name:after {
        content: '';
        height: 2px;
        width: 74%;
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        background: #CBCBCB; }
    section.hot .el .price {
      font-weight: bold;
      font-size: 18px; }
    section.hot .el .btn {
      text-decoration: none;
      border: 2px solid #808080;
      width: 145px;
      padding: 9px 0;
      margin: 13px auto 0;
      color: #000;
      font-weight: bold; }
      section.hot .el .btn:hover {
        opacity: .6; }

section.about {
  margin-top: 118px;
  text-align: center;
  position: relative; }
  section.about h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    letter-spacing: -.5px;
    position: relative;
    z-index: 2;
    margin-bottom: 65px; }
    section.about h2:after {
      content: '';
      width: 290px;
      height: 35px;
      display: block;
      position: absolute;
      background: #fff;
      top: 2.5px;
      left: -38px;
      right: 0;
      margin: auto;
      z-index: -1; }
  section.about:before {
    content: '';
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    background: #CBCBCB; }
  section.about .slider_ {
    width: 1090px;
    margin: auto; }
    section.about .slider_ .el {
      float: none !important;
      height: auto !important;
      display: inline-block !important;
      vertical-align: bottom !important; }
      section.about .slider_ .el * {
        display: block; }
      section.about .slider_ .el img {
        margin: auto; }
    section.about .slider_:after {
      content: '';
      height: 2px;
      width: 117.4%;
      margin: 0 -95px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -250%;
      z-index: -1;
      background: #CBCBCB; }

section.mail {
  margin-top: 150px;
  text-align: center; }
  section.mail span {
    text-align: left;
    font-size: .79em;
    display: block;
    font-weight: 500;
    margin-left: 30%; }
  section.mail form {
    margin-top: 18px; }
    section.mail form input:first-child {
      width: 310px;
      border: 1px solid #000;
      padding: 6px 10px;
      margin-left: 3px;
      margin-right: 3px;
      font-size: 15px;
      font-weight: 100; }
    section.mail form input:last-child {
      /*width: 137px;*/
      /*border: none;*/
      /*background: #292929;*/
      /*padding: 8px 0;*/
      /*color: #fff;*/
      /*font-size: 13px;*/
      /*cursor: pointer; */
      }

section.shop {
  text-align: center;
  margin-top: 53px;
  box-sizing: border-box;
  font-size: 0;
  position: relative; }
  section.shop h2 {
    font-size: 25px;
    letter-spacing: -.5px;
    display: block;
    margin-bottom: 50px; }
  section.shop section {
    display: inline-block;
    vertical-align: top; }
  section.shop:after {
    content: '';
    height: 2px;
    width: 117%;
    display: block;
    position: absolute;
    left: -12.5%;
    right: 0;
    bottom: -4.5%;
    z-index: -1;
    background: #CBCBCB; }

section.menu_l {
  text-align: left;
  width: 20%; }
  section.menu_l ul {
    display: block; }
    section.menu_l ul li {
      text-align: left;
      display: block;
      font-size: 14px;
      margin-bottom: 38px; }
      section.menu_l ul li img {
        margin-right: 10px; }
      section.menu_l ul li a.head {
        color: #000;
        font-weight: bold;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        padding-left: 20px; }
        section.menu_l ul li a.head:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 2px;
          background: #000;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          z-index: 3; }
        section.menu_l ul li a.head:after {
          content: '';
          position: absolute;
          width: 2px;
          height: 10px;
          background: #000;
          left: 4px;
          top: 0;
          bottom: 0;
          margin: auto; }
        section.menu_l ul li a.head.active:after {
          content: '';
          position: absolute;
          width: 2px;
          height: 10px;
          background: #fff;
          left: 4px;
          top: 0;
          bottom: 0;
          margin: auto; }
      section.menu_l ul li ul {
        margin-top: 18px;
        margin-left: 22px; }
        section.menu_l ul li ul li {
          font-size: 12px;
          margin-bottom: 20px; }
          section.menu_l ul li ul li a {
            font-weight: normal;
            text-transform: none;
            text-decoration: none;
            color: #4B4B4B; }
            section.menu_l ul li ul li a:hover, section.menu_l ul li ul li a.active {
              color: #000; }
            section.menu_l ul li ul li a:after, section.menu_l ul li ul li a:before {
              content: ''; }

section.items {
  width: 80%;
  font-size: 10px;
  text-align: left;
  margin-top: -20px;
  position: relative; }
  section.items .item {
    float: none !important;
    height: auto !important;
    display: inline-block !important;
    vertical-align: bottom !important;
    text-align: center;
    margin-bottom: 63px; }
    section.items .item:not(:nth-child(3n)) {
      margin-right: 100px; }
    section.items .item * {
      display: block; }
    section.items .item img {
      margin: auto; }
    section.items .item .name {
      font-size: 12px;
      font-weight: 600;
      position: relative;
      margin-bottom: 10px; }
      section.items .item .name:after {
        content: '';
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        background: #CBCBCB; }
    section.items .item .price {
      font-weight: bold;
      font-size: 18px; }
    section.items .item .btn {
      text-decoration: none;
      border: 2px solid #808080;
      width: 145px;
      padding: 9px 0;
      margin: 13px auto 0;
      font-size: 14px;
      color: #000;
      font-weight: bold; }
      section.items .item .btn:hover {
        opacity: .6; }

footer {
  margin-top: 50px;
  background: #000;
  padding: 20.5px 0;
  color: #fff; }
  footer > div {
    display: inline-block;
    vertical-align: bottom; }
  footer .social {
    vertical-align: middle;
    margin-bottom: 14px;
    margin-left: 72px;
    font-size: 12px; }
    footer .social .s {
      display: block; }
      footer .social .s * {
        display: inline-block; }
    footer .social *:not(.s) {
      display: inline-block;
      vertical-align: middle; }
    footer .social .s:not(:last-child) {
      margin-bottom: 10px; }
    footer .social .s:not(:last-child, :first-child) img {
      margin-left: 5px; }
    footer .social img {
      margin-right: 10px; }
  footer .search {
    margin-left: 56px;
    margin-bottom: 14px; }
    footer .search .text {
      font-size: 10px;
      font-weight: bold;
      text-align: center; }
    footer .search form {
      margin: 10px 0 0 0; }
      footer .search form input {
        margin-top: -2px; }
        footer .search form input:first-child {
          width: 269px;
          border: 1px solid #000;
          padding: 8px 10px;
          margin-left: 3px;
          margin-right: 3px;
          font-size: 15px;
          font-weight: 100; }
        footer .search form input:last-child {
          width: 137px;
          border: none;
          background: #fff;
          padding: 10px 0 8px;
          color: #000;
          font-size: 13px;
          cursor: pointer; }
  footer .safe {
    margin-left: 205px;
    vertical-align: top; }
    footer .safe .cards * {
      display: inline-block;
      vertical-align: middle;
      margin-top: 6px; }
    footer .safe .cards .text {
      margin-left: 10px;
      font-size: 8px;
      font-weight: bold; }
      footer .safe .cards .text * {
        display: block; }
      footer .safe .cards .text ul {
        margin-top: -4px; }
        footer .safe .cards .text ul li {
          display: inline-block;
          margin-right: 17px; }
          footer .safe .cards .text ul li img {
            width: 17px; }
    footer .safe > .text {
      padding-top: 40px;
      margin-left: -63px; }
      footer .safe > .text span {
        font-size: 8px;
        font-weight: bold; }
  footer .logo {
    vertical-align: bottom;
    margin-left: 53px; }
    footer .logo img {
      width: 120px; }

