@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  box-sizing: border-box;
  transition: all ease .5s; }

body {
  font-family: 'Open Sans', sans-serif; }

body, h1, h2, h3, p, img, div, a, ul {
  margin: 0;
  padding: 0;
  outline: none; }

.pp {
  position: absolute;
  z-index: -1; }
  .pp img {
    max-width: 100%;
    opacity: 0; }

main {
  width: 1280px;
  margin: auto; }

.fix {
  width: 1135px;
  margin: auto; }

section * {
  display: inline-block;
  vertical-align: middle; }

section.line {
  background: #181818;
  color: #fff;
  padding: 6px 116px; }
  section.line div:last-child {
    float: right;
    margin-top: -.3%; }
    section.line div:last-child ul li img {
      height: 20px; }
      section.line div:last-child ul li img:hover {
        opacity: .6; }
    section.line div:last-child ul li:not(:last-child) {
      margin-right: 28px; }
  section.line p {
    font-size: 15px; }

section.logo {
  text-align: center;
  margin-top: 25px; }
  section.logo img {
    width: 120px; }

section.nav {
  text-align: center;
  margin-top: 28px;
  padding: 10px 0;
  border-top: 2px solid #CBCBCB;
  border-bottom: 2px solid #CBCBCB; }
  section.nav a {
    text-decoration: none;
    color: #000;
    letter-spacing: .4px; }
    section.nav a:hover {
      opacity: .6; }
    section.nav a.active {
      position: relative; }
      section.nav a.active:after {
        content: '';
        position: absolute;
        bottom: -14px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #000; }
  section.nav li {
    margin: -.35% 15px 0;
    font-size: 14px;
    font-weight: bold; }

section.banners {
  margin-top: 32px; }
  section.banners .col {
    display: inline-block;
    width: 48.9%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif; }
    section.banners .col:not(:last-child) {
      margin-left: 9px;
      margin-right: 6px; }
    section.banners .col * {
      display: block; }
    section.banners .col img {
      max-width: 100%;
      margin-bottom: 25px; }
    section.banners .col h2 {
      font-size: 24px; }
    section.banners .col .btn {
      font-weight: bold;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      display: block;
      color: #000;
      border: 2px solid #4B4B4B;
      width: 170px;
      padding: 12px 0;
      margin: 18px auto; }
      section.banners .col .btn:hover {
        opacity: .6; }

section.banner {
  margin-top: 37px; }
  section.banner img {
    max-width: 100%; }

section.why {
  margin-top: 90px;
  position: relative; }
  section.why:after {
    content: '';
    border: 1px solid #CBCBCB;
    width: 100%;
    display: block;
    position: absolute;
    top: 20px;
    bottom: -55px;
    z-index: -1; }
  section.why h2 {
    display: block;
    text-align: center;
    font-size: 32px;
    letter-spacing: -.5px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 2; }
    section.why h2:after {
      content: '';
      width: 230px;
      height: 35px;
      display: block;
      position: absolute;
      background: #fff;
      top: 2.5px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: -1; }
  section.why ul {
    padding: 0 15px; }
    section.why ul li {
      margin: 35px 40px 0; }
      section.why ul li * {
        display: block;
        text-align: center; }
      section.why ul li img {
        height: 65px;
        margin: 0 auto 5px; }

section.video {
  margin-top: 161px; }
  section.video img {
    max-width: 100%; }

section.hot {
  margin-top: 120px;
  text-align: center;
  position: relative; }
  section.hot h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    letter-spacing: -.5px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px; }
    section.hot h2:after {
      content: '';
      width: 290px;
      height: 35px;
      display: block;
      position: absolute;
      background: #fff;
      top: 2.5px;
      left: -30px;
      right: 0;
      margin: auto;
      z-index: -1; }
  section.hot:before {
    content: '';
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    background: #CBCBCB; }
  section.hot .slider {
    width: 1050px;
    margin: auto; }
  section.hot .el {
    float: none !important;
    height: auto !important;
    display: inline-block !important;
    vertical-align: bottom !important; }
    section.hot .el * {
      display: block; }
    section.hot .el img {
      margin: auto; }
    section.hot .el .name {
      font-size: 13.5px;
      font-weight: 600;
      position: relative;
      margin-bottom: 10px; }
      section.hot .el .name:after {
        content: '';
        height: 2px;
        width: 74%;
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        background: #CBCBCB; }
    section.hot .el .price {
      font-weight: bold;
      font-size: 18px; }
    section.hot .el .btn {
      text-decoration: none;
      border: 2px solid #808080;
      width: 145px;
      padding: 9px 0;
      margin: 13px auto 0;
      color: #000;
      font-weight: bold; }
      section.hot .el .btn:hover {
        opacity: .6; }

section.about {
  margin-top: 118px;
  text-align: center;
  position: relative; }
  section.about h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    letter-spacing: -.5px;
    position: relative;
    z-index: 2;
    margin-bottom: 65px; }
    section.about h2:after {
      content: '';
      width: 290px;
      height: 35px;
      display: block;
      position: absolute;
      background: #fff;
      top: 2.5px;
      left: -38px;
      right: 0;
      margin: auto;
      z-index: -1; }
  section.about:before {
    content: '';
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    background: #CBCBCB; }
  section.about .slider_ {
    width: 1090px;
    margin: auto; }
    section.about .slider_ .el {
      float: none !important;
      height: auto !important;
      display: inline-block !important;
      vertical-align: bottom !important; }
      section.about .slider_ .el * {
        display: block; }
      section.about .slider_ .el img {
        margin: auto; }
    section.about .slider_:after {
      content: '';
      height: 2px;
      width: 117.4%;
      margin: 0 -95px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -250%;
      z-index: -1;
      background: #CBCBCB; }

section.mail {
  margin-top: 150px;
  text-align: center; }
  section.mail span {
    text-align: left;
    font-size: .79em;
    display: block;
    font-weight: 500;
    margin-left: 30%; }
  section.mail form {
    margin-top: 18px; }
    section.mail form input:first-child {
      width: 310px;
      border: 1px solid #000;
      padding: 6px 10px;
      margin-left: 3px;
      margin-right: 3px;
      font-size: 15px;
      font-weight: 100; }
    section.mail form input:last-child {
      width: 137px;
      border: none;
      background: #292929;
      padding: 8px 0;
      color: #fff;
      font-size: 13px;
      cursor: pointer; }

footer {
  margin-top: 57px;
  background: #000;
  padding: 20.5px 0;
  color: #fff; }
  footer > div {
    display: inline-block;
    vertical-align: bottom; }
  footer .social {
    vertical-align: middle;
    margin-bottom: 14px;
    margin-left: 72px;
    font-size: 12px; }
    footer .social .s {
      display: block; }
      footer .social .s * {
        display: inline-block; }
    footer .social *:not(.s) {
      display: inline-block;
      vertical-align: middle; }
    footer .social .s:not(:last-child) img {
      margin-bottom: 10px; }
    footer .social .s:not(:last-child, :first-child) img {
      margin-left: 5px; }
    footer .social img {
      margin-right: 10px; }
  footer .search {
    margin-left: 56px;
    margin-bottom: 14px; }
    footer .search .text {
      font-size: 10px;
      font-weight: bold;
      text-align: center; }
    footer .search form {
      margin: 10px 0 0 0; }
      footer .search form input {
        margin-top: -2px; }
        footer .search form input:first-child {
          width: 269px;
          border: 1px solid #000;
          padding: 8px 10px;
          margin-left: 3px;
          margin-right: 3px;
          font-size: 15px;
          font-weight: 100; }
        footer .search form input:last-child {
          width: 137px;
          border: none;
          background: #292929;
          padding: 10px 0 8px;
          color: #fff;
          font-size: 13px;
          cursor: pointer; }
  footer .safe {
    margin-left: 205px;
    vertical-align: top; }
    footer .safe .cards * {
      display: inline-block;
      vertical-align: middle;
      margin-top: 6px; }
    footer .safe .cards .text {
      margin-left: 10px;
      font-size: 8px;
      font-weight: bold; }
      footer .safe .cards .text * {
        display: block; }
      footer .safe .cards .text ul {
        margin-top: -4px; }
        footer .safe .cards .text ul li {
          display: inline-block;
          margin-right: 17px; }
          footer .safe .cards .text ul li img {
            width: 17px; }
    footer .safe > .text {
      padding-top: 40px;
      margin-left: -63px; }
      footer .safe > .text span {
        font-size: 8px;
        font-weight: bold; }
  footer .logo {
    vertical-align: bottom;
    margin-left: 53px; }
    footer .logo img {
      width: 120px; }
